<div class="viewPort">
    <div class="question">
        <div class="questionPane Window">
            <div class="Heading">
                <label class="HeadingInner Window">Question <span class="H">{{CurrentQuestion}}</span>/{{MaxQuestions}}</label>
            </div>
            <div class="PaneInner">
                <div>
                    <span class="pointer"><span ng-class="(!Paused && !Disabled) ? 'icoPointer pointerFadeIn' : 'pointerFadeOut icoPointer'"></span></span>
                    <label class="formLabel" fadeOnChange="Question" style="opacity:0;">{{Question}}</label>
                    <span class="pauseBar" pausebar></span>
                </div>
                <div class="responses" ng-repeat="response in Responses">
                    <div><label><span class="H">{{response.UserName}}</span>: <span ng-class="response.Correct ? 'EM' : ''">{{response.Answer}}</span></label><span ng-class="response.Correct ? 'icoCorrect icoCorrectShow' : 'icoCorrect icoCorrectHide'"></span></div>
                </div>
            </div>
        </div>
        <div class="yourAnswer Window">
            <div class="PaneInner">
                <form name="MyForm" ng-controller="FormController" ng-init="Url='/SubmitAnswer'" ng-submit="Submit();">
                    <input ng-class="(Disabled || Paused) ? 'text disabled' : 'text'" name="Answer" type="text" ng-model="Model.Answer" required />
                    <span id="AnswerText" class="errorLabel" ng-show="MyForm.UserName.$error.required && MyForm.UserName.$pristine">Please type an answer!</span>
                    <input type="submit" value="Submit" ng-class="(Disabled || Paused) ? 'button disabled' : 'button'" id="SubmitAnswer" />
                </form>
            </div>
        </div>
    </div>
    <div class="chatWindow">
        <div class="users Pane">
            <div class="Heading">
                <label class="HeadingInner Window">Players</label>
            </div>
            <div class="PaneInner">
                <div class="user" ng-repeat="player in PlayerList" id="player.Id">
                    <div><label>{{player.UserName}} <span ng-show="player.Points > 0">+</span><span class="EM" ng-show="player.Points > 0">{{player.Points}}</span></label></div>
                </div>
            </div>
        </div>
        <div class="chat Pane">
            <div class="PaneInner">
                <div class="formRow">
                    <div class="chat" ng-repeat="chat in ChatList">
                        <div><label><span class="H">{{chat.UserName}}</span>: {{chat.Text}}</label></div>
                    </div>
                </div>
                <div class="formRow">
                    <form name="MyForm" ng-controller="FormController" ng-init="Url='/SubmitChat'" ng-submit="Submit();">
                        <input ng-model="Model.Chat" name="Chat" class="text chatText" />
                        <input class="button" type="submit" value="Submit" id="SubmitAnswer" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>